
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.logo{
    display: flex;
    align-items: center;
    color: rgb(102, 0, 255);
    margin-left: 35px;
}
.log{
    width: 100px;
    height: 50px;
    background-image: url('./back/log.png');
    background-size: cover;
    background-position: -10px -6px;
}
ul,li {
    list-style: none;
    display: flex;
    padding-left: 15px;
    margin-right: 35px;
}
a{
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
    color: black;
}
a:hover {
    color:mediumseagreen;
}
select{
    border: 0;
}
/* block1 */
.block1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    height: 400px;
    background-image: url('./back/back2.jpg');
    background-size:cover;
    background-position: -10px;
}
.box {
    padding: 15px;
    text-align: center;
    font-size:12px;
    width: 500px;
    height: 200px;
}
h3{
    color: limegreen;
}
.b1 {
    width: 150px;
    padding: 15px;
    font-size: 15px;
    border: none;
    background-color: springgreen;
}
.h{
text-align: center;
}
/*block2 */
.block2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    padding: 15px;
}
.box1{
    width: 300px;
    height: 200px;
    padding: 10px;
    font-size: 13px;
    text-align: center;
}
.icon1{
    width: 80px;
    height: 80px;
background-image: url('back/icon1.png');
    background-size: cover;
    border-radius: 85px;
    margin-bottom: 15px;
    margin-left: 95px;
    
}
.icon2{
    width: 80px;
    height: 80px;
    margin-left: 95px;
    background-image: url('back/icon2.png');
    background-size: cover;
    margin-bottom: 15px;
    border-radius: 85px;
}
.icon3{
    width: 80px;
    height: 80px;
    margin-left: 95px;
    margin-bottom: 15px;
    background-image: url('back/icon3.png');
    background-size: cover;
    border-radius: 85px;
}

@media (max-width:400px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        font-size: 10px;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .log{
        width: 80px;
        height: 60px;
background-image: url('./back/log.png');
background-size: cover;
background-repeat: no-repeat;
    }
    select{
        width: 50px;
        font-size: 8px;
        border: none;
    }
    ul,li{
        display: flex;
        padding-left: 15px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    /* block1 */
    .block1{
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        height: 300px;
        background-image: url('./back/back2.jpg');
        background-size:cover;
        background-position: -10px;
    }
    .box{
        padding: 5px;
        text-align: center;
        font-size:10px;
        width: 300px;
        height: 150px;
    }
    h3{
        color: green;
    }
    .b1{
        background-color: springgreen;
        width: 100px;
        padding: 5px;
        border: 0;
    }
    .h{
        text-align: center;
        font-size: 15px;
    }
    /* block2 */
    .block2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    .box1{
        width: 100px;
        height: 100px;
        text-align: center;
        font-size: 6px;
    }
    .icon1{
        width: 30px;
        height: 30px;
        border-radius: 85px;
        background-image: url('back/icon1.png');
    background-size: cover;
    border-radius: 85px;
    margin-bottom: 10px;
    margin-left: 35px;
    }
    .icon2{
        width: 30px;
        height: 30px;
        border-radius: 85px;
        background-image: url('back/icon2.png');
    background-size: cover;
    border-radius: 85px;
    margin-bottom: 10px;
    margin-left: 35px;
    }
    .icon3{
        width: 30px;
        height: 30px;
        border-radius: 85px;
        background-image: url('back/icon3.png');
    background-size: cover;
    border-radius: 85px;
    margin-bottom: 10px;
    margin-left: 35px;
    }
}